<template>
  <div id="wrapper">


 



    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li>
          <a href="#" @click="say('Dashboard')">Dashboard</a>
        </li>
        <li>
          <a href="#" @click="say('Course')">Course</a>
          <ul v-if="showCourseCategory">
            <li v-for="category in categoryList" :key="category.id">
              <a href="#" @click="courseFilter(category._id)"
                >{{ category.name }} +</a
              >
              <ul
                v-if="
                  showCourseId === category._id &&
                  showCourse &&
                  courseList.length > 0
                "
              >
                <li v-for="course in courseList" :key="course.id">
                  <a href="#" @click="courseFilterById(course._id)"
                    ># {{ course.Title }}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- <li>
          <a href="#" @click="say('Chat')">Chat</a>
        </li>
        <li>
          <a href="#" @click="say('Group')">Group</a>
        </li>
        <li>
          <a href="#" @click="say('Self Learning')">Self Learning</a>
        </li>
         <li>
          <a href="#" @click="say('Certificate')">Certificate</a>
        </li> -->
        <li>
          <a href="#" @click="say('My profile')">My profile</a>
        </li>
          <li>
          <a href="#" @click="say('Users')">Student</a>
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- page-content-wrapper -->
    <div id="page-content-wrapper">

         <center> <div v-if="isupdate && pageContent === 'Users'" class="login-form">
            <form  @submit.prevent="updateUser()" >
              <h2 class="text-center">Update User</h2>
              
                <div class="form-group">
                <label for="role">Role</label><br>
                <select name="role" id="" placeholder="Select Role" v-model="userdata.roleId" required="required">
                    <option value="user">student</option>
                    <option value="admin">Admin</option>
                </select>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter your Name"
                  required
                  v-model="userdata.firstName"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter your Last Name"
                  required
                  v-model="userdata.lastName"
                />
              </div>
                <div class="form-group">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Enter your Phone"
                  required
                  v-model="userdata.phone"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Username"
                  required
                  v-model="userdata.email"
                />
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Update</button>
              </div>
          
            </form>
          </div>
         </center>

    <!-- Dash Bord Content -->
      <div v-if="pageContent === 'Dashboard'" class="container-fluid">
        <div class="container" v-if="courseList.length > 0">
          <div class="row text-center">
            <div
              class="col-md-4 card-container"
              v-for="course in courseList"
              :key="course._id"
            >
              <div class="card card-flip">
                <div class="front card-block">
                  <div class="card-header">
                    <div class="row">
                      <div class="col">
                        <span>
                          <button @click="deleteCourse(course._id)">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-trash"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                              />
                              <path
                                fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                              />
                            </svg>
                          </button>
                        </span>
                      </div>
                     
                      <div class="col">
                        <span>
                          <button @click="updateCourse(course)">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-pen"
                              viewBox="0 0 16 16"
                                data-toggle="modal"
                                data-target="#createCourseForm"
                                style="margin-left: auto"
        
                            >
                              <path
                                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"
                              />
                            </svg>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <img
                    class="card-img-top"
                    :src="`http://94.237.3.78/demo_beta/${course.Image}`"
                    alt="Card image cap"
                  />
                  <!-- <span class="card-img-top fa" style="font-size: 4em" >&#xf118;</span> -->
                  <h4 class="card-title">{{ course.Title }}</h4>
                  <h6 class="card-subtitle text-muted">
                    {{ course.Description }}
                  </h6>
                  <p class="card-text">{{ course.image }}</p>
                </div>
                <div class="back card-block">
                  <div class="card-footer">
                    <div class="card-stats">
                      <div class="one-third">
                        <div>Cost</div>
                        <div>{{ course.cost }} $</div>
                      </div>
                      <div class="one-third">
                        <div>Author</div>
                        <div>{{ course.author }}</div>
                      </div>
                      <div class="one-third">
                        <div>Student</div>
                        <div>{{ course.student_Enroll.length }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
                <div v-else >
                      <h1>No course found !</h1>
                    </div>
        
      </div>
      <!-- End Dash Bord content -->
      <!-- Course Content -->
      <div v-if="pageContent === 'Course'" class="container-fluid">
        <div class="d-flex mt-2">
          <ul
            style="
              list-style-type: none;
              display: inline-block;
              text-align: left;
            "
          >
            <li>
              <button
                data-toggle="modal"
                @click="changesOnModal('Category')"
                data-target="#createCourseForm"
                class="btn1 btn-dark"
              >
                New Category +
              </button>
              <button @click="ShowlistOfCategory()" class="btn1 btn-dark">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-list"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                  />
                </svg>
              </button>
              <div v-if="showCategory">
                <div
                  class="row btn-dark"
                  v-for="category in categoryList"
                  :key="category.id"
                >
                  <div class="col-6">{{ category.name }}</div>
                  <div class="col-6">
                    <button
                      style="
                        margin-left: 70px;
                        text-align: right;
                        list-style-position: inside;
                      "
                      @click="deleteCategory(category._id)"
                      class=""
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-trash"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                        />
                        <path
                          fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <button
            @click="changesOnModal('Course')"
            data-toggle="modal"
            data-target="#createCourseForm"
            style="margin-left: auto"
            class="btn1 btn-dark"
          >
            New Course +
          </button>
        </div>
         <!-- Course Create modal -->
        <center  v-if="courseOrCategory === 'Course'">
          <div
            style="margin-top: 50px"
            class="modal fade"
            id="createCourseForm"
            tabindex="-1"
            role="dialog"
            aria-labelledby="myModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h4 class="modal-title w-100 font-weight-bold">
                    {{ courseOrCategory }} Details
                  </h4>
                  <div v-if="courseData.Image" class="progress">
                    <div
                      class="progress-bar progress-bar-info"
                      role="progressbar"
                      :aria-valuenow="progress"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      :style="{ width: progress + '%' }"
                    >
                      {{ progress }}%
                    </div>
                  </div>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
               
                <div class="modal-body mx-3" >
                  <div class="md-form mb-3">
                    <label for="CourseCategory">Category </label>
                    <i class="fas fa-lock prefix grey-text"> </i>
                    <select
                      name="CourseCategory"
                      v-model="courseData.cat_id"
                      required
                    >
                      <option value="" selected disabled>Choose</option>
                      <option
                        v-for="category in categoryList"
                        :key="category.id"
                        :value="category._id"
                      >
                        {{ category.name }}
                      </option>
                    </select>
                  </div>
                  <div>
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input
                      required
                      class="form-control validate"
                      placeholder="Tittle"
                      type="text"
                      v-model="courseData.Title"
                    />
                  </div>
                  <div>
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input
                      required
                      class="form-control validate"
                      placeholder="Description"
                      type="text"
                      v-model="courseData.Description"
                    />
                  </div>
                  <div>
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input
                      required
                      class="form-control validate"
                      placeholder="Select File"
                      type="file"
                      ref="file"
                      @change="selectImage"
                    />
                  </div>
                  <div>
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input
                      required
                      class="form-control validate"
                      placeholder="Enter Duration"
                      type="text"
                      v-model="courseData.duration"
                    />
                  </div>
                  <div>
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input
                      required
                      class="form-control validate"
                      placeholder="Enter cost"
                      type="text"
                      v-model="courseData.cost"
                    />
                  </div>
                  <div>
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input
                      required
                      class="form-control validate"
                      placeholder="Enter Author Name"
                      type="text"
                      v-model="courseData.author"
                    />
                  </div>
                </div>

                <!-- Category Create -->
                <div v-if="courseOrCategory === 'Category'"
                  class="modal-body mx-3"
                >
                  <div>
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input
                      required
                      class="form-control validate"
                      placeholder="Enter Category Name"
                      type="text"
                      v-model="categoryData.name"
                    />
                  </div>
                  <!-- <div >
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input required class="form-control validate" placeholder="Description" type="text" v-model="categoryData.Description"/>
                   </div> -->
                </div>
                <br />
                <div class="modal-footer d-flex justify-content-center">
                  <button @click="CreateCourseOrCategory()" class="btn1 btn-dark">
                              {{ this.isupdate ? 'Update '+courseOrCategory : 'Create '+courseOrCategory }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </center>
        <div class="container"  >
          <div class="row text-center" v-if="courseList.length > 0  ">
            <div
              class="col-md-4 card-container"
              v-for="course in courseList"
              :key="course._id"
            >
              <div class="card card-flip">
                <div class="front card-block">
                  <div class="card-header">{{ course.cat_id.name }}</div>
                  <img
                    class="card-img-top"
                    :src="`http://94.237.3.78/demo_beta/${course.Image}`"
                    alt="Card image cap"
                  />
                  <!-- <span class="card-img-top fa" style="font-size: 4em" >&#xf118;</span> -->
                  <h4 class="card-title">{{ course.Title }}</h4>
                  <h6 class="card-subtitle text-muted">
                    {{ course.Description }}
                  </h6>
                  <p class="card-text">{{ course.image }}</p>
                </div>
                <div class="back card-block">
                  <div class="card-footer">
                    <div class="card-stats">
                      <div class="one-third">
                        <div>Cost</div>
                        <div>{{ course.cost }} $</div>
                      </div>
                      <div class="one-third">
                        <div>Author</div>
                        <div>{{ course.author }}</div>
                      </div>
                      <div class="one-third">
                        <div>Student</div>
                        <div>{{ course.student_Enroll.length }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div v-else>
               <h1>No course Found !</h1>
         </div>
        </div>
       
    </div>
      <!-- End Course Content -->
      <!-- Profile content -->
      <div v-if="pageContent === 'My profile'"
        class="container mt-4 mb-4 p-3 d-flex justify-content-center"
      >
        <div class="card p-4">
          <div
            class="
              image
              d-flex
              flex-column
              justify-content-center
              align-items-center
            "
          >
            <button class="btn btn-secondary">
              <img
                src="https://i.imgur.com/wvxPV9S.png"
                height="100"
                width="100"
              />
            </button>
            <span class="name mt-3">{{ userProfileData.firstName }}</span>
            <span class="idd">{{ userProfileData.email }}</span>
            <div
              class="
                d-flex
                flex-row
                justify-content-center
                align-items-center
                gap-2
              "
            >
              <span class="idd1">Oxc4c16a645_b21a</span>
              <span><i class="fa fa-copy"></i></span>
            </div>
            <div
              class="
                d-flex
                flex-row
                justify-content-center
                align-items-center
                mt-3
              "
            >
              <span class="number"
                >1069 <span class="follow">Followers</span></span
              >
            </div>
            <div class="d-flex mt-2">
              <button class="btn1 btn-dark">Edit Profile</button>
            </div>
            <div class="text mt-3">
              <span
                >Eleanor Pena is a creator of minimalistic x bold graphics and
                digital artwork.<br /><br />
                Artist/ Creative Director by Day #NFT minting@ with FND night.
              </span>
            </div>
            <div
              class="
                gap-3
                mt-3
                icons
                d-flex
                flex-row
                justify-content-center
                align-items-center
              "
            >
              <span><i class="fa fa-twitter"></i></span>
              <span><i class="fa fa-facebook-f"></i></span>
              <span><i class="fa fa-instagram"></i></span>
              <span><i class="fa fa-linkedin"></i></span>
            </div>
            <div class="px-2 rounded mt-4 date">
              <span class="join">Joined May,2021</span>
            </div>
          </div>
        </div>
      </div>
      <!-- End Profile content -->

<!-- Student List -->
 <div v-if="pageContent === 'Users'" class="container-fluid">
        <div class="container" v-if="studentList.length > 0 && !isupdate">
          <div class="row text-center">
            <div
              class="col-md-4 card-container"
              v-for="student in studentList"
              :key="student._id"
            >
              <div class="card card-flip">
                <div class="front card-block">
                  <div class="card-header">
                    <div class="row" style=" font-weight: bold;  text-transform: uppercase;">
                     
                      <div class="col">
                             {{student.firstName}}
                      </div>
                      <div class="col">
                       {{student.lastName}}
                      </div>
                    </div>
                  </div>
                   <span class="card-img-top fa" style="font-size: 4em" >&#xf118;</span> 
                  <!-- <span class="card-img-top fa" style="font-size: 4em" >&#xf118;</span> -->
                 
                  <h4 class="card-title"> 
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                      </svg>
                      {{student.email}}</h4>
                  <h6 class="card-subtitle text-muted">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                      <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                      <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                    </svg>
                    {{student.phone}}
                  </h6>
                  <p class="card-text">{{student.firstName}}</p>
                </div>
                <div class="back card-block">
                  <div class="card-footer">
                    <div class="card-stats">
                      <div class="one-third">
                       <div>
                        <span>
                          <button @click="deleteUser(student._id)">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-trash"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                              />
                              <path
                                fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                              />
                            </svg>
                          </button>
                        </span>
                      </div>
                      </div>
                      <div class="one-third">
                        <div>Role</div>
                        <div>Student</div>
                      </div>
                      <div class="one-third">
                    
                           <div>
                        <span>
                          <button @click="updateUser(student)">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-pen"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"
                              />
                            </svg>
                          </button>
   
                        </span>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
                <div v-else >
                      <h1>No Student found !</h1>
                    </div>
        
      </div>
 <!-- End Student List -->
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->
</template>
<script>
import course from "../../services/courseService";
import category from "../../services/categoryservice";
import user from "../../services/userService";

export default {

 
  data() {
    return {
      courseList: [],
      categoryList: null,
      courseListTemp: null,
      pageContent: "Dashboard",
      userProfileData: null,
      filtercourse: null,
      categoryIds: [],
      courseOrCategory: null,
      showCategory: false,
      showCourseCategory: false,
      showCourseId: null,
      showCourse: false,
      progress: 0,
      isupdate : false,
         studentID : null,
          courseID:null,
          userdata:{
              roleId:null,
              email:null,
              firstName:null,
              lastName : null,
              phone : null,
            
          },
       
      courseData: {
        Title: null,
        Description: null,
        Image: null,
        duration: null,
        cost: null,
        author: null,
        cat_id: null,
      },
      categoryData: {
        name: null,
      },
    };
  },
  mounted() {
    this.getCourseList();
    this.getCourseCategory();
    this.getAllUsers();
    // my profile
    this.userProfileData = JSON.parse(localStorage.getItem("LoginInfo"));
  },

  methods: {
    ShowlistOfCategory() {
      this.showCategory = !this.showCategory;
    },
    // changesOnModal
    changesOnModal(modaleLable) {
      this.courseOrCategory = modaleLable;
    },
    say(event) {
      this.pageContent = event;
      if (this.pageContent === "Course") {
        this.showCourseCategory = !this.showCourseCategory;
        this.showCourse = !this.showCourse;
      }
        this.showCourse = null;
    },
    courseFilter(categoryId) {
      this.showCourseId = categoryId;
      if (this.categoryIds.indexOf(categoryId) === -1) {
        this.categoryIds.push(categoryId);
        this.pageContent = "Dashboard";
        this.filtercourse = this.courseListTemp.filter((e) =>
          e.cat_id._id.includes(categoryId)
        );
        this.courseList = this.filtercourse;
      } else {
        this.filtercourse = this.courseListTemp.filter((e) =>
          e.cat_id._id.includes(categoryId)
        );
        this.courseList = this.filtercourse;
      }
      this.showCourse = !this.showCourse;
    },
    courseFilterById(courseId) {
      this.pageContent = "Dashboard";
      this.filtercourse = this.courseListTemp.filter((e) =>
        e._id.includes(courseId)
      );
      this.courseList = this.filtercourse;
    },
    selectImage() {
      this.courseData.Image = this.$refs.file.files.item(0);
      this.progress = 0;
    },
    CreateCourseOrCategory() {
         if (this.courseOrCategory === "Course" && !this.isupdate) {
        course
          .createcourse(this.courseData, (event) => {
            this.progress = Math.round((100 * event.loaded) / event.total);
          })
          .then(courseInfo => {
            alert("course created !")
            console.log(courseInfo)
            this.$router.go();
          })
          .catch((error) => {
            alert(error.response.data.message);
          });
      }else if(this.courseOrCategory === 'Course' && this.isupdate){
              this.isupdate=!this.isupdate
             console.log(this.courseData)
              course.updateCourse(this.courseID,this.courseData, (event) => {
            this.progress = Math.round((100 * event.loaded) / event.total);
          })
          .then(courseIDcourseID => {
            alert(courseIDcourseID.data.updated_user);
            this.$router.go();
          })
          .catch((error) => {
            alert(error.response.data.message);
          });
} 
      
      
      else {
        category
          .createCategory(this.categoryData)
          .then((categoryInfo) => {
            alert(
              `${categoryInfo.data.name} category created ! you can create the course with this !`
            );

            this.$router.go();
          })
          .catch((error) => {
            alert(error.response.data.message);
          });
      }



    },
    deleteCourse(id) {
      course
        .deleteCourse(id)
        .then((message) => {
          alert(message.data.message);
          this.$router.go();
        })
        .catch((error) => {
          alert(error.response.data.message);
        });
    },
    deleteCategory(categoryId) {
      category
        .deleteCategory(categoryId)
        .then((message) => {
          alert(message.data.message);
          this.$router.go();
        })
        .catch((error) => {
          alert(error.response.data.message);
        });
    },
    deleteUser(userid){
        user.deleteUser(userid).then(message=>{
          alert(message.data.message);
          this.$router.go()
        }).catch(error =>{
          alert(error.response.data.message)
        })
    },
    updateUser(student){

      if(!this.isupdate){
             this.pageContent = "Users"
            this.isupdate = ! this.isupdate
            this.studentID = student._id
            for( var key in this.userdata){
              this.userdata[key]= student[key]
            }
      }else{
         
         user.updateUser(this.studentID,this.userdata).then(updateInfo =>{
           alert(updateInfo.data.updated_user)
           this.$router.go()
         }).catch(error =>{
           alert(error.response.data.message)
         })
      }
          
         
    },
  
    // course list
    getCourseList() {
      course
        .getTop3Course()
        .then((courses) => {
          this.courseList = courses.data;
          this.courseListTemp = courses.data;
        })
        .catch((error) => {
          alert(error.response.data.message);
        });
    },
    // category list
    getCourseCategory() {
      course
        .getAllCategory()
        .then((Allcategory) => {
          this.categoryList = Allcategory.data;
        })
        .catch((error) => {
          alert(error.response.data.message);
        });
    },
    getAllUsers(){
      user.getAllUser().then(users =>{
       this.studentList = users.data.filter((user) => user.roleId.roleType.includes('user'))
      }).catch(error =>{alert(error.response.data.message)})
    },
      updateCourse(course){
         this.pageContent = 'Course'
         this.courseOrCategory = 'Course'
         this.courseID = course._id
         this.isupdate = ! this.isupdate
         for(var key in this.courseData){
            this.courseData[key]=course[key]
         }
    },
  },
};
</script>



<style scoped>
.card-stats {
  display: flex;
  color: #fff;
  background-color: #ec9b3b;
  font-weight: 700;
us: 19px;
}
.one-third {
  width: 33%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;

  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

body {
  overflow-x: hidden;
}

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: relative;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 5px;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

.name {
  font-size: 22px;
  font-weight: bold;
}
.number {
  font-size: 22px;
  font-weight: bold;
}
.text span {
  font-size: 13px;
  color: #545454;
  font-weight: 500;
}
.card:hover .image img {
  transform: scale(1.5);
}
.follow {
  font-size: 12px;
  font-weight: 500;
  color: #444444;
}
.btn1 {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #000;
  color: #aeaeae;
  font-size: 15px;
}
.date {
  background-color: #ccc;
}

hr .new1 {
  border: 1px solid;
}
* {
  margin: 0;
  padding: 0;
}
</style>