<template>
  <div class="card card-image" style="background-color: black">
    <div class="text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">
        <div class="card-deck">
          <div class="card" v-for="item in bannerItem" :key="item.id">
            <img class="card-img-top" :src="item.image" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">{{ item.tittle }}</h5>
            </div>
            <div class="card-footer">
                <!-- <h1 v-for="r in item.rating" :key="r.id">
                <span class="fa fa-star checked"></span>
                </h1> -->
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import bannerItem from "../../viewData/bannerItem.js";
export default {
  data() {
    return {
      bannerItem: bannerItem,
    };
  },
};
</script>

<style>
.card-img-top {
  width: 113px;
  height: 108px;
}
.checked {
  color: orange;
}
</style>




gqppcgfdZDTsvbcsdSpz