<template>
  <div class="slider_bck">
    <div class="container">
      <h1 style="color: black">TRENDING COURSE</h1>
      <h2>Popular topics to learn now</h2>
      <div class="row">
        <div class="py-5">
          <div class="card-deck">
            <div
              class="card mb-3 bg-dark text-white"
              style="max-width: 540px"
              v-for="item in bestselling"
              :key="item.id"
            >
              <img
                class="card-img-top"
                :src="`http://94.237.3.78/demo_beta/${item.Image}`"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">{{ item.Title }}</h5>
                <p class="card-text">
                  {{ item.Description }}
                </p>
              </div>
              <div class="card-footer">
                <span> Cost {{ item.cost }} $</span><br />
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span><button @click="gologin()">Enroll</button></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import bestselling from "../../viewData/bestselling";
import course from "../../services/courseService";
export default {
  data() {
    return {
      bestselling: null,
    };
  },
  mounted() {
    course
      .getTop3Course()
      .then((courses) => {
        //  console.log(courses.data.slice(0, 3))
        this.bestselling = courses.data.slice(0, 3);
      })
      .catch((error) => {
        alert(error.response.data.message);
      });
  },
  methods:{
    gologin(){
      this.$router.push("/signup")
    }
  }
};
</script>
<style>
</style>