<template>
<!-- <footer class="bg-dark text-white footer">

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="#">SkillUp.com</a>
  </div>

</footer> -->
<div></div>
</template>

<style >

</style>