<template>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img
          src="https://images-platform.99static.com/GxXxQWdFj3SPGHUwp4MjqaFzg34=/0x0:960x960/500x500/top/smart/99designs-contests-attachments/95/95355/attachment_95355270"
          alt=""
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        SkillUp
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <router-link class="nav-link" aria-current="page" to="/about"
              >About</router-link
            >
          </li>
          <li class="nav-item">
            <router-link class="nav-link" aria-current="page" to="/contact"
              >Contact</router-link
            >
          </li>
      
          <li class="nav-item">
            <router-link class="nav-link" aria-current="page" to="/selfLearning"
              >Self Learning</router-link
            >
          </li>
              <a v-if="logoutShow" class="nav-link" @click="logout()">Logout</a>
        </ul>
        <form class="form-inline d-flex">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-search"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                    />
                  </svg>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">course</a>
                  <a class="dropdown-item" href="#">News</a>
                  <!-- <div class="dropdown-divider"></div> -->
                  <a class="dropdown-item" href="#">Event</a>
                </div>
              </span>
            </div>
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              style="height: 54px"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <router-link
              class="nav-link"
              aria-current="page"
              to="/signup"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="40"
                fill="currentColor"
                class="bi bi-person"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
                />
              
              </svg>
                 {{logoutShow ? LoginInfo.firstName :' account'}}
            </router-link>
          </li>
        </ul>
        </form>

   
      </div>
    </div>
  </nav>

  <router-view />
</template>

<script>
export default {
  
  data(){
    return{
      token:null,
      logoutShow:false,
      LoginInfo : null
    }
  },
   mounted(){
      this.$forceUpdate()
       this.LoginInfo = JSON.parse(localStorage.getItem("LoginInfo"));
     
     //this.token = LoginInfo.token
     
     if(this.LoginInfo){
       this.logoutShow = !this.logoutShow
     }
   },
  methods:{
    logout(){
       localStorage.removeItem('LoginInfo')
       this.logoutShow = !this.logoutShow
       this.$router.push('/')
      
    }
  }
}
</script>