<template>
  <div class="home">
    <BannerView/>
    <BestSelliing/>
    <NewsView/>
  </div>
</template>

<script>
import BannerView from "../views/BannerView.vue";
import BestSelliing from "../views/BestSelliing.vue";
import NewsView from "../views/NewsView.vue";
export default {
  name: 'HomeView',
  components: {
    BannerView,
    BestSelliing,
    NewsView
  }
}
</script>
