<template>
<h1 style="color:black">NEWS</h1>
    <div class="py-5">
        <div class="card-deck ">
          <div class="card a "  v-for="news in newsData" :key="news.id">
              <h5>Date {{news.date}}</h5>
            <img class="card-img-top" :src="news.image" alt="Card image cap" />
            
            <div class="card-body font">
              <h2 class="card-title" >{{news.tittle}}</h2>
              <h5 class="card-text">{{news.description}}</h5>
            </div>
            <div class="card-footer">
           
           <span>{{news.course}}</span>
             
            </div>
          </div>
           
        </div>
      </div>
</template>
<script>
import newsData from "../../viewData/newsData.js";
export default {
    data(){
        return{
            newsData:newsData
        }
    }
   
}
</script>
<style scoped>
/* .a{
     background: url('https://images.unsplash.com/photo-1504711434969-e33886168f5c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmV3c3BhcGVyfGVufDB8fDB8fA%3D%3D&w=1000&q=80')
   
   
} */
.font{
      font-weight: 400;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
</style>