<template>
  <div v-if="isShow" class="login-form">
    <form  @submit="userData($event)">
      <h2 class="text-center">Log in</h2>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          required="required"
          v-model="userdata.email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          required="required"
          v-model="userdata.password"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Log in</button>
      </div>
      <div class="clearfix">
        <label class="float-left form-check-label"
          ><input type="checkbox" /> Remember me</label
        >
        <a href="#" class="float-right">Forgot Password?</a>
      </div>
    </form>
    <p class="text-center"><a @click="showSignUp()">Create an Account</a></p>
  </div>


  <div v-if="!isShow" class="login-form">
    <form  @submit.prevent="userData(e)" >
      <h2 class="text-center">SignUp</h2>
        <div class="form-group">
        <label for="role">Role</label><br>
        <select name="role" id="" placeholder="Select Role" v-model="userdata.roleId" required="required">
            <option value="user">student</option>
            <option value="admin">Admin</option>
        </select>
      </div>
       <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Enter your Name"
          required="required"
          v-model="userdata.firstName"
        />
      </div>
       <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Enter your Last Name"
          required="required"
          v-model="userdata.lastName"
        />
      </div>
        <div class="form-group">
        <input
          type="number"
          class="form-control"
          placeholder="Enter your Phone"
          required="required"
          v-model="userdata.phone"
        />
      </div>
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          placeholder="Username"
          required="required"
          v-model="userdata.email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          required="required"
          v-model="userdata.password"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">SignUp</button>
      </div>
      <div class="clearfix">
        <label class="float-left form-check-label"
          ><input type="checkbox" /> Remember me</label
        >
        <a href="#" class="float-right">Forgot Password?</a>
      </div>
    </form>
    <p class="text-center"><a @click="showSignUp()">you have an account login !</a></p>
  </div>
</template>


<script>
import user from "../../services/userService";

export default {
  mounted(){
   const studentID = localStorage.getItem("studentId")
  if(studentID){
     this.isShow = !this.isShow
   }
 },
    
   

  data(){
      return{
          isShow: true,
          userdata:{
              roleId:null,
              email:null,
              password:null,
              firstName:null,
              lastName : null,
              phone : null,
            
          }
      }
  },
  methods:{
      showSignUp(){
          this.isShow = !this.isShow
      },
      userData(event){
          if(this.isShow){
               var loginData ={
                    email:this.userdata.email,
                    password: this.userdata.password
              }
              user.signIn(loginData).then(userInfo =>{
                  var role = userInfo.data.role[0].roleType
                  var a =userInfo.data
                  localStorage.setItem("LoginInfo" ,JSON.stringify(a))
                  if(role === "admin"){
                    
                     this.$router.push({name:"admindashbord"})
                     
                  }else{
                    this.$router.push({name:"studentdashbord"})
                  }
                
              }).catch(error =>{
                  alert(error.response.data.message)
              })
                 
               alert("login")
            
             
          }else{
            user.signUp(this.userdata).then(regUser =>{
              console.log(regUser)
              alert("user sign up")
              this.isShow = !this.isShow
              
            }).catch(error => {
              alert(error.response.data.message)
            })
             
               
              
          }
        event.preventDefault()  
      }
  }
  
}
</script>

<style>
.login-form {
  width: 340px;
  margin: 50px auto;
  font-size: 15px;
}
.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control,
.btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {
  font-size: 15px;
  font-weight: bold;
}
</style>