<template>
  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">  </a>
        </li>
        <li>
          <a href="#" @click="say('Dashboard')">Dashboard</a>
        </li>
        <li>
         <a href="#" @click="say('Course')">Course</a>
        </li>
        <li>
          <a href="#" @click="say('Chat')">Chat</a>
        </li>
        <li>
          <a href="#" @click="say('Group')">Group</a>
        </li>
        <li>
          <a href="#" @click="say('Self Learning')">Self Learning</a>
        </li>
        <li>
          <a href="#" @click="say('My profile')">My profile</a>
        </li>
        <li>
          <a href="#" @click="say('Certificate')">Certificate</a>
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- page-content-wrapper -->
    <div id="page-content-wrapper">

 <center> <div v-if="isupdate && pageContent === 'My profile'" class="login-form">
            <form  @submit.prevent="updateShowModal()" >
              <h2 class="text-center">Update User</h2>
              
                <div class="form-group">
                <label for="role">Role</label><br>
                <select name="role" id="" placeholder="Select Role" v-model="userdata.roleId" required="required">
                    <option value="user">student</option>
                    <option value="admin">Admin</option>
                </select>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter your Name"
                  required
                  v-model="userdata.firstName"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter your Last Name"
                  required
                  v-model="userdata.lastName"
                />
              </div>
                <div class="form-group">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Enter your Phone"
                  required
                  v-model="userdata.phone"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Username"
                  required
                  v-model="userdata.email"
                />
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Update</button>
              </div>
          
            </form>
          </div>
         </center>



     <!-- Dash Bord Content -->
    <div v-if="pageContent === 'Dashboard'" >

     <div class="d-flex mt-2">
          <ul
            style="
              list-style-type: none;
              display: inline-block;
              text-align: left;
              margin-left: auto
            "
          >
            <li>
              <button  @click="ShowlistOfCategory()" class="btn1 btn-dark">
                Filter <i class="fa fa-filter" aria-hidden="true"></i>
                
              </button>
              <div v-if="showCategory" >
                <div class="row btn-dark"  v-for="course in enrolledCourses" :key="course._id">
                  <div class="col-6">{{course.cat_id.name}}</div>
                 </div>
              </div>
            </li>
          </ul>

       </div>


          <div class="container"  >
           
          <div class="row text-center" v-if="pageContent === 'Dashboard' ">
            <div
              class="col-md-4 card-container"
              v-for="course in enrolledCourses"
              :key="course._id"
            >
              <div class="card card-flip">
                <div class="front card-block">
                  <div class="card-header">{{ course.cat_id.name }}</div>
                  <img
                    class="card-img-top"
                    :src="`http://94.237.3.78/demo_beta/${course.Image}`"
                    alt="Card image cap"
                  />
                  <!-- <span class="card-img-top fa" style="font-size: 4em" >&#xf118;</span> -->
                  <h4 class="card-title">{{ course.Title }}</h4>
                  <h6 class="card-subtitle text-muted">
                    {{ course.Description }}
                  </h6>
                  <p class="card-text">{{ course.image }}</p>
                </div>
                <div class="back card-block">
                  <div class="card-footer">
                    <div class="card-stats">
                      <div class="one-third">
                        <div>Cost</div>
                        <div>{{ course.cost }} $</div>
                      </div>
                      <div class="one-third">
                        <div>Author</div>
                        <div>{{ course.author }}</div>
                      </div>
                      <div class="one-third">
                        <div>Duration</div>
                        <div>{{course.duration}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div v-else>
               <h1>No course Found !</h1>
         </div>
        </div>
      </div> 
        <!-- End Dash Bord content -->
        <!-- Course Content -->
       <div v-if="pageContent === 'Course'" >
          <div class="container"  >
          <div class="row text-center" v-if="pageContent === 'Course' ">
            <div
              class="col-md-4 card-container"
              v-for="course in courseList"
              :key="course._id"
            >
              <div class="card card-flip">
                <div class="front card-block">
                   <div class="card-header">
                    <div class="row">
                      <div class="col">
                       {{ course.cat_id.name }}
                      </div>
                     
                      <div class="col">
                        <span> 
                          <button @click="enrollStudent(course)" class="btn-dark">Enroll</button>
                        </span>
                      </div>
                    </div>
                  </div>
               

                  <img
                    class="card-img-top"
                    :src="`http://94.237.3.78/demo_beta/${course.Image}`"
                    alt="Card image cap"
                  />
                  <!-- <span class="card-img-top fa" style="font-size: 4em" >&#xf118;</span> -->
                  <h4 class="card-title">{{ course.Title }}</h4>
                  <h6 class="card-subtitle text-muted">
                    {{ course.Description }}
                  </h6>
                  <p class="card-text">{{ course.image }}</p>
                </div>
                <div class="back card-block">
                  <div class="card-footer">
                    <div class="card-stats">
                      <div class="one-third">
                        <div>Cost</div>
                        <div>{{ course.cost }} $</div>
                      </div>
                      <div class="one-third">
                        <div>Author</div>
                        <div>{{ course.author }}</div>
                      </div>
                      <div class="one-third">
                        <div>Student</div>
                        <div>{{ course.student_Enroll.length }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div v-else>
               <h1>No course Found !</h1>
         </div>
        </div>
      </div> 
       <!-- End Course Content -->
      <!-- Profile content -->
      <div v-if="pageContent === 'My profile' && !isupdate" class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center"> <button class="btn btn-secondary"> <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" /></button> <span class="name mt-3">{{userProfileData.firstName}}</span> <span class="idd">{{userProfileData.email}}</span>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">Oxc4c16a645_b21a</span> <span><i class="fa fa-copy"></i></span> </div>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number">1069 <span class="follow">Followers</span></span> </div>
            <div class=" d-flex mt-2"> <button @click="updateShowModal()" class="btn1 btn-dark">Edit Profile</button> </div>
            <div class="text mt-3"> <span>Eleanor Pena is a creator of minimalistic x bold graphics and digital artwork.<br><br> Artist/ Creative Director by Day #NFT minting@ with FND night. </span> </div>
            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
            <div class=" px-2 rounded mt-4 date "> <span class="join">Joined May,2021</span> </div>
        </div>
    </div>
</div>
      <!-- End Profile content -->
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->
</template>
<script>
import course from "../../services/courseService";
import  student from "../../services/studentService";
export default {
  data() {
    return {
      courseList: [],
      enrolledCourses:[],
      pageContent : "Dashboard",
      userProfileData:null,
      isupdate : false,
      showCategory: false,
      enrollStudentData :{
        course_id: null,
        user_id : null
      } ,
      userdata:{
              roleId:null,
              email:null,
              firstName:null,
              lastName : null,
              phone : null,
            
          },
    };
  },
  mounted() {
      // course list
       this.getCourses()
     // my profile
     this.userProfileData = JSON.parse(localStorage.getItem("LoginInfo"));
     this.getEnrolledCourses()
   },

  methods:{
      say(event){
           this.pageContent = event
          
          
      },
      ShowlistOfCategory(){
         console.log("click")
          this.showCategory = !this.showCategory
      },
      updateShowModal(){
        if(!this.isupdate){
             this.isupdate = !this.isupdate
           this.userdata = this.userProfileData
        
        }else{
          console.log(this.userdata)
         
        }
          
 },
      enrollStudent(course){
        this.enrollStudentData.user_id = this.userProfileData._id
        this.enrollStudentData.course_id = course._id
        student.enrollStudent(this.enrollStudentData).then(data =>{
          alert(`${this.userProfileData.firstName} 'you are Enrolled'`)
          console.log(data)
          this.$router.go()
        }).catch(error =>{
          alert(error.response.data.message)
        })

      },
      getCourses(){
        course.getTop3Course().then((courses) => {
        this.courseList = courses.data;
     
      })
      .catch((error) => {
        alert(error.response.data.message);
      });
      },
      getEnrolledCourses(){
          student.getEnrollCoursesBYStudent({"user_id":this.userProfileData._id}).then(enrollCourses =>{
           this.enrolledCourses = enrollCourses.data
           
        }).catch(error =>{
          alert(error.response.data.message)
        })
        
      }
  }
};
</script>



<style scoped>
.card-stats {
  display: flex;
  color: #fff;
  background-color: #ec9b3b;
  font-weight: 700;
us: 19px;
}
.one-third {
  width: 33%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 15px;
}




body {
  overflow-x: hidden;
}

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: relative;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 5px;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

.name {
    font-size: 22px;
    font-weight: bold
}
.number {
    font-size: 22px;
    font-weight: bold
}
.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}
.card:hover .image img {
    transform: scale(1.5)
}
.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}
.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}
.date {
    background-color: #ccc
}

hr .new1 {
    border: 1px solid
}
* {
    margin: 0;
    padding: 0
}

</style>