<template>
  <div>
   <HeaderView/>
   <FooterView/>
  </div>
  
  
</template>

<script>
 import HeaderView from "../src/views/HeaderView.vue";
 import FooterView from "../src/views/FooterView.vue";
 export default {
components:{
  HeaderView,
  FooterView
}
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
body {
  background: linear-gradient(
      to bottom,
      rgba(140, 122, 122, 1) 0%,
      rgba(175, 135, 124, 1) 65%,
      rgba(175, 135, 124, 1) 100%
    )
    fixed;
  background: url("https://tocode.ru/static/uploads/courses/3/clash-of-clans-images/bg.jpg")
    no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}
</style>
